{% include 'header.html' %}
<body>

    {% include 'navbar.html' %}

    <div class="container ">
        <div class="cart-head">
            <h1 class="cart-title"> Your Cart </h1>
            <h2 class="amount"> Total Amount: <br><b> {{ amount }} $ </b></h2>
        </div>
    <div class="products">
        {% if count == 0: %}
        <h3> Your cart is empty. </h3>
        {% else: %}
        {% for product in products %}
            <div class="grid-item">
                <h3> {{ product.name }} </h3>
                    <img class="product-image" src="{{ product.image }}">
                    <p>{{ product.price }} $ </p>
                    <p>{{ product.weight }} g </p>
                <a href="{{ url_for('remove_from_cart', product_name=product.name) }}">Remove from cart</a>
            </div>
        {% endfor %}
    {% endif %}
    </div>


  </div>

</body>

{% include 'footer.html' %}